/* Settings Wallpaper */
div.settings-wallpaper-item {
	padding: 5px;
	cursor: default;
}

div.settings-wallpaper-item-selected {
	background-color: #d3e1f1 !important;
}

div.view-over.settings-wallpaper-item {
	background-color: #efefef;
}

/* Desktop Windows */
.desktop-active-win {
	
}

.desktop-inactive-win {
	opacity: 0.97;
}

/* WindowBar */
.windowbar .x-btn-inner,.x-nbr .windowbar .x-btn-icon-text-left button {
	text-align: left !important;
}

.windowbar {
	height: 26px;
	padding: 0;
}

/* Desktop DataView */
.wallpaper {
	background-color: #3d71b8;
}

.wallpaper-center {
	background-position: center;
	background-repeat: no-repeat;
}

.wallpaper-tile {
	background-repeat: repeat;
}

.desktop-shortcut {
	cursor: pointer;
	text-align: center;
	padding: 8px;
	margin: 8px;
	width: 64px;
}

.desktop-shortcut-icon {
	width: 48px;
	height: 48px;
	background-color: transparent;
	background-repeat: no-repeat;
}

.desktop-shortcut-text {
	font: normal 11px tahoma, arial, verdana, sans-serif;
	text-decoration: none;
	padding-top: 5px;
	color: white;
}

.view-over .desktop-shortcut-text {
	text-decoration: underline;
}

/* Icons */
.notepad-shortcut {
	background-image: url(../images/notepad.png);
}

.notepad-icon {
	background-image: url(../images/notepad-icon.png);
}

.tabs-icon {
	background-image: url(../images/tabs-icon.gif);
}

/* Online Users */
.onlineusers-shortcut {
	background-image: url(../images/onlineusers.png);
}

.onlineusers-icon {
	background-image: url(../images/onlineusers-icon.png);
}

.user {
	background-image: url( ../images/fam/user.png );
}

.user-add {
	background-image: url(../images/fam/user_add.png);
}

.user-delete {
	background-image: url(../images/fam/user_delete.png);
}

.connect {
	background-image: url(../images/fam/connect.png);
}

.user-girl {
	background-image: url(../images/fam/user_female.png);
}

.user-kid {
	background-image: url(../images/fam/user_green.png);
}

.systemstatus-shortcut {
	background-image: url(../images/systemstatus.png);
}

.systemstatus-icon {
	background-image: url(../images/systemstatus-icon.png);
}

/* Grid */
.grid-shortcut {
	background-image: url(../images/grid.png);
}

.grid-icon {
	background-image: url(../images/grid-icon.png);
}

.add {
	background-image: url(../images/fam/add.png);
}

.option {
	background-image: url(../images/fam/plugin.png);
}

.remove {
	background-image: url(../images/fam/delete.png);
}

/* TopBar */
.loggedOnLabel {
	padding-right: 5px;
	font-weight: bold;
}
.settings {
	background-image: url(../images/settings.png);
}

.logout {
	background-image: url( ../images/logout.png );
}