/*----------------------------------------------------
    TaskBar
*/

.ux-taskbar .x-toolbar {
    background: transparent none;
    border-color: transparent;
}

.x-ie6 .ux-taskbar .x-toolbar {
    border-color: #d3e1f1;
}

.ux-desktop-windowbar .x-btn-inner,
.x-nbr .ux-desktop-windowbar .x-btn-icon-text-left button {
    text-align: left !important;
}

.ux-taskbar .x-toolbar {
    height: 28px;
}

.ux-taskbar {
    height: 28px;
    padding: 0;
}

.x-toolbar .x-toolbar {
    padding: 0;
}


/*----------------------------------------------------
    Tray Clock
*/

.ux-desktop-trayclock {
    text-align: center;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}

/*----------------------------------------------------
    Desktop DataView
*/

.ux-wallpaper {
    background-color: #3d71b8;
}

.ux-wallpaper-tiled {
    background-repeat: repeat;
}

.ux-desktop-shortcut {
    cursor: pointer;
    text-align: center;
    padding: 8px;
    margin: 8px;
    width: 64px;
}

.ux-desktop-shortcut-icon {
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-repeat: no-repeat;
}

.ux-desktop-shortcut-text {
    font: normal 10px tahoma,arial,verdana,sans-serif;
    text-decoration: none;
    padding-top: 5px;
    color: white;
}

.x-view-over .ux-desktop-shortcut-text {
    text-decoration: underline;
}


/*----------------------------------------------------
    Various icon classes
*/

.accordion-shortcut {
    background-image: url(../images/im48x48.png);
}

.cpu-shortcut {
    background-image: url(../images/statusLarge.png);
}

.grid-shortcut {
    background-image: url(../images/grid48x48.png);
}

.notepad-shortcut {
    background-image: url(../images/notepadLarge.png);
    width: 46px;
    height: 46px;
}

.x-ie6 .accordion-shortcut {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/im48x48.png', sizingMethod='scale');
}

.x-ie6 .cpu-shortcut {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/statusLarge.png', sizingMethod='scale');
}

.x-ie6 .grid-shortcut {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/grid48x48.png', sizingMethod='scale');
}

.x-ie6 .notepad-shortcut {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/notepadLarge.png', sizingMethod='scale');
}

.video {
    background-image: url(../images/gears.gif);
}

.bogus {
    background-image: url( ../images/bogus.png ) !important;
}

.notepad {
    background-image: url( ../images/bogus.png ) !important;
}

.logout {
    background-image: url( ../images/logout.gif ) !important;
}

.settings {
    background-image: url( ../images/gears.gif ) !important;
}


.icon-grid {
    background-image:url( ../images/grid.png ) !important;
}
.add {
    background-image:url(../../shared/icons/fam/add.gif) !important;
}
.option {
    background-image:url(../../shared/icons/fam/plugin.gif) !important;
}
.remove {
    background-image:url(../../shared/icons/fam/delete.gif) !important;
}
.save {
    background-image:url(../../shared/icons/save.gif) !important;
}
.accordion {
    background-image:url(../images/accordian.gif) !important;
}
.tabs {
    background-image:url(../images/tabs.gif) !important;
}

/*----------------------------------------------------
    IM window icons
*/

.user {
    background-image:url( ../../shared/icons/fam/user.gif ) !important;
}

.user-add {
    background-image:url(../../shared/icons/fam/user_add.gif) !important;
}

.user-delete {
    background-image:url(../../shared/icons/fam/user_delete.gif) !important;
}

.connect {
    background-image:url(../../shared/icons/fam/connect.gif) !important;
}

.user-girl {
    background-image:url(../../shared/icons/fam/user_female.gif) !important;
}

.user-kid {
    background-image:url(../../shared/icons/fam/user_green.gif) !important;
}

.user-suit {
    background-image:url(../../shared/icons/fam/user_suit.gif) !important;
}
